<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>

   <h1> Create a Basketball Team!</h1>
   <form method = 'post' action= '/team'>
     <label>Team Name:</label>
     <input name='name' type='text'>
     <label>Coach:</label>
     <input name='coach' type='text'>
     <label>Point Guard:</label>
     <input name='pg' type='text'>
     <label>Shooting Guard:</label>
     <input name='sg' type='text'>
     <label>Small Forward:</label>
     <input name='sf' type='text'>
     <label>Power Forward:</label>
     <input name='pf' type='text'>
     <label>Center:</label>
     <input name='c' type='text'>
     <input type = 'submit' id='submit' name='submit' value = 'Submit'>
   </form>
 </body>
</html>
